# LIst files that shouldn't be included in the repository here

# Windows file:
Thumbs.db

# data:
Lancashire_all_tweets.csv
Lancashire_geotag_tweets.csv
Lancashire_towns_tweets.csv
classified_Lancashire_geotag_tweets.csv